In [1]:
import sys
import os
import time
import pickle
from tqdm import tqdm
import numpy as np
import pandas as pd

import tweepy

In [2]:
sys.path.insert(1, '../')

In [3]:
from src.data import journalists as journos
from src.data.api_tweepy import connect_API
from src.data.api_tweet_tools import request_user_timeline, batch_request_user_timeline

In [4]:
df_in = pd.read_csv('../data/raw/education_journalist_friends.csv')
df_in.head()

     screen_name          friend
0  alicewoolley1     FloraBarton
1  alicewoolley1  KateWilliamsme
2  alicewoolley1    AdviserSuper
3  alicewoolley1        SolGamsu
4  alicewoolley1        sarahcpr

In [5]:
friends = list(df_in['friend'].unique())
print(len(friends))

66737

In [6]:
api_keys_fp = '../data/twitter_credentials.json'
tw_api = connect_API(api_keys_fp)

In [9]:
batch_request_user_timeline(tw_api, friends, '../data/raw/edu_friend_tweets/edu_')

User timelines: 100%|█████████████████████████████████████████████████████████| 66737/66737 [18:47:02<00:00,  1.01s/it]